<h1><%= @artist.name%></h1>


<h2>Releases: </h2>
<% @releases.each do |release| %>
   <div>
      <%= link_to "%s %s" % [release.title, release.year], "/releases/%d" % release.id %>
      <img src=<%=release.thumb%>>
   </div>

<% end %>

