<h1><%= @artist.name%></h1>


<h2>Releases: </h2>
<% @releases.releases.each do |release| %>
   <% id = release.id %>
   <% if release.type == "master" %>
      <% id = release.main_release %>
   <% end %>
   <div><%= link_to "%s %s" % [release.title, release.year], "/releases/%d" % id %></div>

<% end %>

