<p id="notice"><%= notice %></p>
<br> <br> <br> <br> 
<div id="releases"><h1>Top Releases</h1></div>
<br> 
<ul>
  <% @releases.each do |release| %>    
      <li><%= release.title%>    (<%= release.average_rating%>)</li>    
  <% end %>
</ul>




