<p id="notice"><%= notice %></p>
<br> <br> <br> <br> 
<div id="releases"><h1>Top Releases</h1></div>
<br> 
<ol>
  <% @releases.each do |release| %>
    <li><b><%= release.title%></b>    (<%= release.average_rating%>) <br> <img class="cover" src=<%=@covers[release.id]%>> </li>

        
  <% end %>
</ol>



<style>
.cover {
  width: 100px;
}
</style>

