<h1><%= @release.title%></h1>


<h2>Tracklist: </h2>
<% @release.tracklist.each do |track| %>
   <div> <%= track.title %> </div>
<% end %>

<h2>Add a review:</h2>
<% if user_signed_in? %>
   <%= render 'reviews/form' %>
<% else %>
   Log in to write a review!
<% end %>

<h2>Reviews</h2>
<%= render @release_object.reviews %>

