<h1><%= @release.title%></h1>


<h2>Tracklist: </h2>
<% @release.tracklist.each do |track| %>
   <div> <%= track.title %> </div>
<% end %>

<h2>Reviews</h2>
<%= render @release_object.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>