<h3>Review:</h3>
<p>
    <strong>Username:</strong>
    <%= review.user.username %>
</p>

<p>
    <strong>Title:</strong>
    <%= review.title %>
</p>

<p>
    <strong>Review:</strong>
    <%= review.body %>
</p>

<p>
    <strong>Rating:</strong>
    <%= review.rating %>
</p>



